<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <main>
      <form action="/mark/<%= id %>" method="POST">
        <table>
          <tr><th>SOURCE</th></tr>
          <tr><td><textarea name="source" cols="60" rows="10"><%= source %></textarea></td></tr>
          <tr><td><input type="submit" value="Update"></td></tr>
        </table>
      </form>
      <div class="mark_area">
        <%- content %>
        <p><%= footer %></p>
      </div>
    </main>
    <p><a href="/">トップへ戻る</a></p>
  </body>
</html>
